.chart-bar {
  height: 130px;
  width: 15px;
  display: grid;
  flex-direction: column;
  align-items: center;
}

.chart-bar__inner {
  height: 130px;
  width: 15px;
  border: 1px solid #313131;
  border-radius: 12px;
  background-color: #c3b4f3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar__fill {
  height: 130px;
  width: 15px;
  background-color: #4826b9;
  transition: all 0.3s ease-out;
}

.chart-bar__label {
  font-weight: bold;
  font-size: 0.5rem;
  text-align: initial;
}
.chart-bar__amount {
  font-weight: bold;
  font-size: 0.5rem;
  position: relative;
  top: 3px;
  right: 8px;
}